.container {
    width: 2.875rem;
    height: 2.875rem;

    background-color: #EBEBFC;
    color: #4F4FB9;

    border-radius: .75rem;
    outline: none;
    border: 2px solid #4F4FB9;

    text-align: center;
    text-transform: uppercase;
}