.container {
    background-color: #ffa53d;
    color: #000000;

    font-weight: 500;
    width: 6.625rem;
    height: 2.875rem;

    border-radius: .75rem;
    border: 2px solid #e8891c;
    outline: none;
    margin-right: auto;
}