.container {
    background-color: #EBEBFC;
    padding: 1rem;
    border-radius: .75rem;
    margin-block: 3.25rem;

    display: flex;
    gap: 1rem;
}

.container > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: auto;

    & h2 {
        color: #4F4FB9;
        font-size: 1.25rem;
        font-weight: bold;
    }

    & span {
        color: #4F4FB9;
    }
}

