:root {
    font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, button {
    font-family: "Noto Sans", sans-serif;
}

button {
    cursor: pointer;
    transition: filter 0.2s;
}

button:hover {
    filter: brightness(0.9);
}

body {
    font-family: "Noto Sans", sans-serif;
    background-color: #f5f5fa;

    padding-block: 7rem;
}

h3 {
    font-size: 1.125rem;
    font-weight: 500;
    margin-block: 3.25rem .75rem;
    color: #32325F;
}